<a href="https://colab.research.google.com/github/Ronbragaglia/ColabPython/blob/main/Untitled33.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
import pandas as pd

url = "https://pt.wikipedia.org/wiki/Premier_League_de_2023%E2%80%9324"


requisicao = requests.get(url)
if requisicao.status_code == 200:

    INDEX_TABELA_CLASSIFICACAO = 7
    INDEX_TABELA_JOGOS = 10


    tabelas = pd.read_html(requisicao.text)


    if len(tabelas) > INDEX_TABELA_CLASSIFICACAO and len(tabelas) > INDEX_TABELA_JOGOS:
        tabela_classificacao = tabelas[INDEX_TABELA_CLASSIFICACAO]
        tabela_jogos = tabelas[INDEX_TABELA_JOGOS]


        display(tabela_classificacao)
        display(tabela_jogos)
    else:
        print("Índices de tabela fora do intervalo.")
else:
    print(f"Falha na requisição. Código de status: {requisicao.status_code}")

,Pos,Equipe,Pts,J,V,E,D,GP,GC,SG,Classificação ou descenso
0,1,Arsenal,64,28,20,4,4,70,24,+46,Fase de grupos da Liga dos Campeões da UEFA de...
1,2,Liverpool (Y),64,28,19,7,2,65,26,+39,Fase de grupos da Liga dos Campeões da UEFA de...
2,3,Manchester City,63,28,19,6,3,63,28,+35,Fase de grupos da Liga dos Campeões da UEFA de...
3,4,Aston Villa,56,29,17,5,7,60,42,+18,Fase de grupos da Liga dos Campeões da UEFA de...
4,5,Tottenham,53,28,16,5,7,59,42,+17,Fase de grupos da Liga Europa da UEFA de 2024–25
5,6,Manchester United,47,28,15,2,11,39,39,0,Play-off da Liga Conferência da UEFA de 2024–2...
6,7,West Ham,44,29,12,8,9,46,50,−4,NaN
7,8,Brighton & Hove Albion,42,28,11,9,8,50,44,+6,NaN
8,9,Wolverhampton,41,28,12,5,11,42,44,−2,NaN
9,10,Newcastle,40,28,12,4,12,59,48,+11,NaN
10,11,Chelsea,39,27,11,6,10,47,45,+2,NaN
11,12,Fulham,38,29,11,5,13,43,44,−1,NaN
12,13,Bournemouth,35,28,9,8,11,41,52,−11,NaN
13,14,Crystal Palace,29,28,7,8,13,33,48,−15,NaN
14,15,Brentford,26,29,7,5,17,41,54,−13,NaN
15,16,Everton,25[b],28,8,7,13,29,39,−10,NaN
16,17,Luton Town,22,29,5,7,17,42,60,−18,NaN
17,18,Nottingham Forest,21[c],29,6,7,16,35,51,−16,Zona de rebaixamento à EFL Championship de 202...
18,19,Burnley,17,29,4,5,20,29,63,−34,Zona de rebaixamento à EFL Championship de 202...
19,20,Sheffield United,14,28,3,5,20,24,74,−50,Zona de rebaixamento à EFL Championship de 202...

,Casa \ Fora,ARS,AVL,BOU,BRE,BHA,BUR,CHE,CRY,EVE,...,LIV,LUT,MCI,MUN,NEW,NFO,SHU,TOT,WHU,WOL
0,Arsenal,—,NaN,NaN,2–1,2–0,3–1,a,5–0,NaN,...,3–1,NaN,1–0,3–1,4–1,2–1,5–0,2–2,0–2,2–1
1,Aston Villa,1–0,—,NaN,NaN,6–1,3–2,NaN,3–1,4–0,...,NaN,3–1,1–0,1–2,1–3,4–2,1–1,0–4,4–1,NaN
2,Bournemouth,0–4,2–2,—,NaN,NaN,2–1,0–0,NaN,NaN,...,0–4,4–3,0–1,NaN,2–0,1–1,2–2,0–2,1–1,1–2
3,Brentford,0–1,1–2,2–2,—,NaN,3–0,2–2,NaN,1–3,...,1–4,3–1,1–3,NaN,NaN,3–2,NaN,2–2,3–2,1–4
4,Brighton & Hove Albion,NaN,NaN,3–1,2–1,—,1–1,NaN,4–1,1–1,...,2–2,4–1,NaN,NaN,3–1,1–0,1–1,4–2,1–3,0–0
5,Burnley,0–5,1–3,0–2,2–1,NaN,—,1–4,0–2,0–2,...,0–2,1–1,0–3,0–1,NaN,NaN,5–0,2–5,1–2,NaN
6,Chelsea,2–2,0–1,NaN,0–2,3–2,NaN,—,2–1,NaN,...,1–1,3–0,4–4,NaN,3–2,0–1,2–0,a,NaN,2–4
7,Crystal Palace,0–1,NaN,0–2,3–1,1–1,3–0,1–3,—,2–3,...,1–2,1–1,NaN,NaN,NaN,0–0,3–2,1–2,NaN,3–2
8,Everton,0–1,0–0,3–0,NaN,1–1,NaN,2–0,1–1,—,...,a,1–2,1–3,0–3,3–0,NaN,NaN,2–2,1–3,0–1
9,Fulham,2–1,1–2,3–1,0–3,3–0,0–2,0–2,NaN,0–0,...,NaN,1–0,NaN,0–1,NaN,5–0,3–1,3–0,5–0,3–2
10,Liverpool,1–1,3–0,3–1,3–0,NaN,3–1,4–1,NaN,2–0,...,—,4–1,1–1,0–0,4–1,3–0,NaN,NaN,3–1,NaN
11,Luton Town,3–4,2–3,NaN,NaN,4–0,1–2,2–3,2–1,NaN,...,1–1,—,1–2,1–2,1–0,1–1,1–3,0–1,1–2,1–1
12,Manchester City,NaN,NaN,6–1,1–0,2–1,3–1,1–1,2–2,2–0,...,1–1,NaN,—,3–1,1–0,2–0,2–0,3–3,NaN,NaN
13,Manchester United,NaN,3–2,0–3,2–1,1–3,NaN,2–1,0–1,2–0,...,a,1–0,0–3,—,NaN,3–2,NaN,2–2,3–0,1–0
14,Newcastle,1–0,5–1,2–2,1–0,NaN,2–0,4–1,4–0,NaN,...,1–2,4–4,2–3,1–0,—,1–3,NaN,NaN,NaN,3–0
15,Nottingham Forest,1–2,2–0,2–3,1–1,2–3,1–1,NaN,NaN,0–1,...,0–1,2–2,NaN,2–1,2–3,—,2–1,0–2,2–0,NaN
16,Sheffield United,0–6,0–5,1–3,1–0,0–5,NaN,NaN,0–1,2–2,...,0–2,2–3,1–2,1–2,0–8,NaN,—,NaN,2–2,2–1
17,Tottenham,a,1–2,3–1,3–2,2–1,NaN,1–4,3–1,2–1,...,2–1,NaN,NaN,2–0,4–1,NaN,2–1,—,1–2,1–2
18,West Ham,0–6,1–1,NaN,4–2,0–0,2–2,3–1,1–1,0–1,...,NaN,NaN,1–3,2–0,NaN,3–2,1–0,NaN,—,3–0
19,Wolverhampton,NaN,NaN,1–1,0–2,1–4,1–0,2–1,NaN,3–0,...,1–3,NaN,2–1,3–4,2–2,1–1,NaN,2–1,NaN,—